language: python
python:
  - "2.6"
  - "2.7"
install:
  - "pip install tox"
  - "pip install -r requirements.txt"
  - "pip install ."
script:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then tox -e py26-1.6; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then tox -e py27-1.6,py27-1.7,coverage; fi