language: python
python:
  - "2.6"
  - "2.7"
sudo: false
cache: pip
install:
  - "pip install -U pip tox importlib"
  - "pip install -r requirements/production.txt"
  - "pip install ."
script:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then tox -e py26-1.6; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then tox -e py27-1.6; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then tox -e py27-1.7; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then tox -e py27-1.8; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then tox -e py27-1.9; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then tox -e coveralls; fi