include README.rst .coveragerc LICENSE

recursive-include require_i18n *

recursive-include doc *
prune doc/_build

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * .DS_Store
recursive-exclude * .coverage
