include README.rst .coveragerc LICENSE tox.ini setup.py

recursive-include require_i18n *
recursive-include require_i18n/tests *.txt

recursive-include doc *
prune doc/_build

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *~
recursive-exclude * .DS_Store
recursive-exclude * .coverage
